ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  
  /* background-color: #333; */
}

li {
  float: right;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover {
  border-bottom: white solid 2px;
}
.links {
  text-decoration: none;
  color: white;
  font-size: medium;
}

.portfolio-description {
  font-size:  large;
}
.project{
  border: pink solid 1px;
  margin: 30px 300px 30px 300px;
}

.deployed-links {
  font-size: medium;
  margin-bottom: 10px;
}
.image {
  margin-top: 9px;
  margin-bottom: 10px;
}
h3{
  color: white;

}

body {
  background-image: url(./assets/background4.jpg);
}

header h1 {
  font-weight: bold;
  font-size: 60px;
  color: pink;
  margin: 10px;
}

.title {
  float: left;
}

.tab{
  font-size: 23px;
  margin-top: 18px;
}

.about {
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
  color: pink;
  
}

.description ul {
text-align: center;
align-items: center;
/* margin-bottom: 100px; */
}

.pic{
  margin: 35px 20px 35px 80px;
}

.aboutme {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  background-color:  rgba(255,192,203, 0.1);
  margin: 30px 100px 60px 100px;
  border: solid pink 1px;
  
}

.form-wrapper {
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
  color: pink;
}

.portfolio {
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
  color: pink;
}
.resume {
  text-align: center;
  font-size: xx-large;
  font-weight: 100;
  color: pink;
}

.resume-list{
  text-align: center;
  border: solid pink 2px;
  margin: 30px 200px 100px 200px
}
 h2 {
   color: white;
 }

.header-wrapper {
  margin: 15px;
  border-bottom: 2px solid white ;
}

.footer-contact {
  padding: 10px;

} 

footer {
  border-top: solid white 2px;
  margin: 15px;
  
}

.resume-pdf {
  text-decoration: none;
  color: hotpink; 
}

.contact-list {
  margin: 50px 50px 50px 500px;
}

.submit{
  background-color: pink;
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.submit:hover{
  opacity: 1;
}
.text-error {
  font-size: medium;
}
label {
  font-size: large;
  font-weight: bold;
}

textarea {
margin-top:20px;
}
